 body {
    background: black;
 }

 .text {
    background: beige;
    padding: 12px;
    margin-top: 400px;
 }


#begin .page {
    background: url(img/image-castle-web2.jpg) no-repeat;
    }   

#поел .page {
    background: url(img/image-castle-web.jpg) no-repeat;
    }   